* {
    margin: 0;
    padding: 0;
    color: white;
}

header {
    background-color: red;
    padding: 20px 0 0;
    text-align: center;
}

h1 {
    font-size: 48px;
}

nav {
    margin-top: 20px;
    padding: 10px;
    background-color: orange;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

main {
    padding: 10px;
    background-color: green;
}

article {
    margin-bottom: 5px;
    padding: 20px;
    background-color: blue;
}

article ul, ol {
    margin-left: 20px;
}

h2 {
    margin: 15px 0;
}

footer {
    font-size: 40px;
    background-color: violet;
    text-align: center;
}
